@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@700&display=swap');

.gallerySection{
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  @media only screen and (max-width: 768px) {
    height: 100vh;
  }
}

.logoText{
  position: absolute;
  font-family: 'Noto Serif JP', serif;
  font-weight: 700;
  top: 0px;
  left: 15px;
  font-size: 46px;
  z-index: 2;
}

.spotlight{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(circle, transparent 50px, rgba(0,0,0,0.28) 400px);
  /*z-index: 2;*/
}

.artWorkWrapper{
  border: 1px solid;
  display: flex;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.artWorkContainer{
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


#artWorkContainer{
  transform: translateX(calc(var(--i) * 1%));
  transition: all 0.3s ease;
}

.artWork{
  position: relative;
}

.art{
  transition: transform 0.3s;
}

.artWork:hover .art {
  transform: scale(1.1);
}

.callOut {
  position: absolute;
  top: 50%;
  left: calc(100% + 20px);
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s, left 0.3s;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 400px;
  min-height: 500px;
  text-align: justify;
}

.artWork:hover .callOut {
  left: calc(100% + 10px);
  opacity: 1;
  pointer-events: auto;
}

.connector{
  position: absolute;
  top: 50%;
  left: -10px;
  width: 20px;
  height: 2px;
  background-color: #333;
  transform: translateY(-50%);
}

.artDesc p{
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
}

.artDesc h1{
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 700;
  text-align: left;
}

.arrowContainer{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
  z-index: 2;
}

.left{
  margin-right: 25px;
}

.right{
  margin-left: 25px;
}

svg {
  padding: 5px;
}

.arrow {
  cursor: pointer;
  width: 70px;
  height: 90px;
}


.left:hover polyline,
.left:focus polyline {
  stroke-width: 3;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 3;
}

.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}